@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600&display=swap');

:root {
    --gap: 16px;
    --font: 'Rubik', 'Roboto', 'Helvetica', sans-serif;
    --color-primary: #2C2976;
    --color-primary-medium: #484599;
    --color-primary-light: #e7e7f9;
    --color-light: #fff;
    --color-secondary: #EC1D27;
    --color-secondary-medium: #ff3c3c;
    --color-secondary-light: #f5e1e2;
    --color-highlight: rgba(255, 255, 255, .3);
    --color-shadow: rgba(0, 0, 0, 0.3);
    --color-success: #2dd36f;
    --color-soft: #f5f7fb;
    --color-bright: #FFEB3B;
    --color-text: #1d1d1f;
    --border-radius: 12px;
    --border-radius-button: 30px;
    --border-radius-input: 4px;
    --box-shadow: -1px -1px 2px var(--color-highlight), 1px 1px 2px var(--color-shadow), 0 0 1px var(--color-shadow);
    --box-shadow-inset: inset 1px 1px 2px var(--color-shadow), inset -1px -1px 2px var(--color-highlight), inset 0 0 1px var(--color-shadow);
    --box-shadow-high: 0 3px 8px rgba(0, 0, 120, .2);
    --gradient-light: linear-gradient(120deg, var(--color-secondary-light) 0%, var(--color-primary-light) 100%);
    --gradient-primary: linear-gradient(120deg, var(--color-primary-medium) 0%, var(--color-primary) 100%);
    --gradient-secondary: linear-gradient(120deg, var(--color-secondary-medium) 0%, var(--color-secondary) 100%);
    --gradient-button: linear-gradient(120deg, #bdbceb 0%, #bdbce7 100%);
}

body {
    /* background: var(--color-soft); */
    background-attachment: fixed;
    padding: 70px 8px 60px;
    font-family: var(--font);
    text-align: center;
    color: var(--color-text);
}

/* header */

header {
    position: fixed;
    background: #fff;
    width: 100vw;
    left: 0;
    top: 0;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    animation: fade-in .2s ease-out forwards;
    z-index: 100;
}

header:before {
    content: '';
    background: url('/img/logo.png');
    height: 40px;
    display: block;
    background-size: 40px;
    position: fixed;
    top: 2px;
    z-index: 110;
    mix-blend-mode: multiply;
    width: 100%;
    background-repeat: no-repeat;
    background-position-x: 10px;
    max-width: 500px;
}

header>h2 {
    font-size: 18px;
    margin: 0;
}

/* main */

main {
    opacity: 0;
    animation: fade-in .2s .1s ease-out forwards;
}

/* login */

.logo {
    max-width: 180px;
    margin: -54px 0 -16px;
    mix-blend-mode: multiply;
}

h1 {
    font-size: 22px;
    margin: 0 0 8px;
}

h1+p {
    margin: 0 0 16px;
    font-size: 14px;
}

#alert {
    font-size: 14px;
    color: var(--color-secondary);
    font-weight: bold;
}

#alert.hide {
    display: none;
}

.blink {
    animation: blink 0.6s 2 both;
}

.login-form {
    padding-bottom: 24px;
}

.login-form label {
    margin-top: 16px;
    display: block;
    margin-bottom: 6px;
    text-align: center;
}

.login-form input {
    max-width: 240px;
    width: 100%;
}

/* form */

input, button, .btn, select, #qr-reader__dashboard_section_swaplink {
    transition: .1s;
    border: none;
    font-family: var(--font);
}

input, select {
    border-radius: var(--border-radius-input);
}

button, .btn, #qr-reader__dashboard_section_swaplink {
    padding: var(--gap) calc(var(--gap) * 2);
    border-radius: var(--border-radius-button);
}

input, select {
    padding: 6px;
    box-shadow: var(--box-shadow-inset);
    background: #fff;
}

textarea:focus, input:focus, select:focus {
    outline: none;
}

input:focus {
    background: #ffd;
    box-shadow: var(--box-shadow-inset);
}

input[type="file"] {
    padding: 6px 12px;
    margin-top: 16px;
}

select {
    appearance: none;
    background: rgba(0, 0, 0, .03) url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512"><title>Chevron Down</title><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="48" d="M112 184l144 144 144-144"/></svg>') no-repeat right center !important;
    padding-right: 30px !important;
    background-size: 18px !important;
    background-position-x: 98% !important;
}

input[type="date"] {
    -webkit-appearance: none;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

button, .btn, #qr-reader__dashboard_section_swaplink {
    margin: 24px auto;
    font-size: 16px;
    width: fit-content;
    min-width: 162px;
    background: var(--gradient-secondary);
    color: var(--color-light);
    text-transform: uppercase;
    font-weight: 600;
    box-shadow: var(--box-shadow);
}

button:active, .btn:active, #qr-reader__dashboard_section_swaplink:active {
    filter: brightness(.9);
    box-shadow: var(--box-shadow-inset);
}

a.btn, #qr-reader__dashboard_section_swaplink {
    display: block;
    color: var(--color-light);
    text-decoration: none;
    width: fit-content;
    min-width: 120px;
    transform: scale(.8);
}

/* footer */

footer {
    position: fixed;
    background: var(--color-soft);
    width: 100vw;
    left: 0;
    bottom: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    padding: 0;
    box-shadow: 0 0 6px rgba(0, 0, 120, .2);
    border-top: 2px solid #fff;
    display: flex;
    justify-content: center;
}

footer a.btn {
    margin: 16px auto;
}

footer a {
    display: flex;
    text-decoration: none;
    font-size: 10px;
    color: inherit;
    flex-basis: 33.333%;
    height: 50px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .1s;
    margin: -2px 0 0;
    user-select: none;
    border-top: 2px solid transparent;
    max-width: 160px;
}

footer a.active {
    pointer-events: none;
    border-top: 2px solid var(--color-secondary-medium);
}

footer a:active {
    background: var(--color-secondary-light);
    filter: brightness(.96);
}

footer a:focus {
    transition: .4s ease-out;
    border-top: 2px solid var(--color-secondary-medium);
}

footer a span {
    color: var(--color-primary-medium);
}

footer a.active span,
footer a:focus span {
    color: var(--color-secondary-medium);
}

footer a:focus span {
    animation: blink .8s .3s infinite both;
}

footer a:focus span:after {
    content: "...";
    animation: fade-in .2s 1s ease-out forwards;
}

footer a svg path {
    fill: var(--color-primary-medium);
}

footer a.active svg path,
footer a:focus svg path {
    fill: var(--color-secondary-medium);
}

footer a:focus svg path {
    fill: var(--color-secondary-medium);
}

footer:focus-within a.active {
    border-top: 2px solid transparent;
    transition: .4s ease-in;
}

footer:focus-within a.active svg path {
    fill: var(--color-primary-medium);
    transition: .4s ease-in;
}

footer:focus-within a.active span {
    color: var(--color-primary-medium);
    transition: .4s ease-in;
}

footer:focus-within a.active {
    background: transparent;
    transition: .4s ease-in;
}

footer a:active svg,
footer a:active span {
    transform: scale(.95);
}

footer svg {
    width: 30px;
}

footer span {
    display: block;
}

/* Profile */

.profile {
    background: var(--color-primary-light);
    padding: 8px 16px;
    width: calc(100vw - 32px);
    position: fixed;
    left: 0;
    top: 44px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
}

.profile div {
    display: grid;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 480px;
    margin: auto;
    grid-gap: 10px;
    grid-template-columns: 1fr 108px;
}

.profile legend {
    display: none;
}

.profile h4, .profile h5 {
    font-size: 12.5px;
    margin: 0;
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.profile h4 {
    font-weight: 500;
    text-align: left;
}

.profile h5 {
    text-align: right;
}

/* Scanner */

#qr-reader {
    margin: -3px 0 0;
    border-radius: var(--border-radius);
    background: #fff;
    border: none !important;
    width: 100vw;
    background: transparent;
    position: fixed !important;
    left: 0;
    padding: 0 !important;
}

#qr-reader input[type="file"] {
    margin-bottom: 32px;
}

#qr-reader input[type="file"]+span {
    display: none;
}

#qr-reader>div:first-child {
    padding: 0 !important;
    border: none !important;
}

#qr-reader__dashboard_section_swaplink {
    text-decoration: none !important;
    background: rgba(255, 255, 255, .6);
    margin: 0 auto;
    font-size: 14px;
    padding: 8px 16px;
    border: 1px solid var(--color-primary);
    color: var(--color-primary);
    max-width: none;
    display: none !important;
}

#qr-reader>div:first-child>span:first-child {
    display: none;
}

#qr-reader__status_span {
    display: block;
    line-height: 1;
    margin: auto !important;
    padding: 0 !important;
    float: none !important;
    text-align: center;
    background: transparent !important;
    font-size: 18px !important;
    font-weight: 600;
    position: fixed;
    top: 12px;
    z-index: 100;
    left: 0;
    width: 100vw;
    color: red;
}

div#qr-reader__scan_region img {
    margin: 16px auto 0;
    width: 360px !important;
    max-width: calc(100vw - 40px);
    height: 50vh;
    opacity: 1!important;
}

#qr-reader__dashboard {
    position: fixed;
    bottom: 100px;
    width: 100vw !important;
}

#qr-reader__dashboard_section {
    padding: 0 !important;
}

#qr-reader__dashboard_section_csr>span:first-child {
    margin-right: 0 !important;
}

#qr-reader__dashboard_section_csr button {
    transform: scale(.8);
    margin: 52px 0 -10px;
}

#qr-reader__dashboard_section_csr>span:nth-of-type(2)>button:nth-child(1),
#qr-reader__dashboard_section_csr>div>button {
    background: var(--color-primary);
}

select#qr-reader__camera_selection {
    display: block;
    margin: 6px auto;
    padding: 8px;
    border: none;
    border-radius: var(--border-radius-input);
    font-family: var(--font);
    box-shadow: var(--box-shadow-inset);
    background: rgba(0, 0, 0, .03);
    transition: .3s;
}

select#qr-reader__camera_selection[disabled] {
    pointer-events: none;
    opacity: 0 !important;
}

select:focus#qr-reader__camera_selection {
    background: rgba(255, 255, 0, .1);
    box-shadow: var(--box-shadow-inset);
}

#qr-reader__dashboard_section_csr>span:first-child {
    font-weight: 600;
    font-size: 14px;
    margin: 20px 0 -40px;
    display: block;
}

#qr-reader__dashboard_section_csr>span:first-child>select {
    position: relative;
}

#qr-reader__dashboard_section_csr>span:first-child>select:before {
    content: "Select Camera";
}

#qr-reader__filescan_input {
    width: 100% !important;
    max-width: 260px;
}

#qr-reader__header_message {
    border: none !important;
    font-size: 13px !important;
    text-align: center;
    margin-top: 16px !important;
    position: fixed;
    bottom: 180px;
    z-index: 20;
    text-align: center;
    width: calc(100vw - 20px);
    animation: blink 0.6s 1 both;
}

#result {
    font-size: 14px;
}

form {
    position: relative;
    z-index: 30;
}

/* History */

fieldset {
    display: block;
    margin: 16px auto 0;
    position: relative;
    z-index: 10;
    border-radius: var(--border-radius);
    background-image: var(--gradient-primary);
    color: var(--color-light);
    border: none !important;
    box-shadow: var(--box-shadow-high);
    max-width: 360px;
    padding: 12px;
}

fieldset legend {
    font-size: 13px;
    color: var(--color-light);
    text-align: left;
    background: var(--gradient-secondary);
    box-shadow: var(--box-shadow-high);
    padding: 3px 10px;
    border-radius: var(--border-radius-input);
    margin-bottom: -10px;
}

fieldset div {
    width: 100%;
    display: grid;
    grid-gap: 12px 6px;
    align-items: center;
    grid-template-columns: 110px 1fr;
    margin-top: 8px;
}

fieldset label {
    text-align: left;
    font-weight: 600;
    font-size: 13.5px;
    margin: 0;
}

fieldset input {
    padding: 10px;
}

fieldset button {
    margin: 16px auto 0;
    transform: scale(.8);
    display: block;
    background: var(--gradient-button);
    color: var(--color-primary);
}

.no-data {
    color: var(--color-secondary);
    margin: 16px 0;
}

.no-data img {
    margin: 30px auto 0;
    width: 360px !important;
    max-width: calc(100vw - 40px);
    height: 35vh;
}

table {
    margin: 16px auto;
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    background: #fff;
    user-select: none;
    max-width: 480px;
}

table>thead>tr>th:nth-of-type(1),
table>tbody>tr>td:nth-of-type(1) {
    text-align: center!important;
    max-width: 20px;
}

thead {
    background: var(--gradient-primary);
}

thead:before {
    content: "";
    width: 100%;
    height: 37px;
    background: #fff;
    position: absolute;
    left: 0;
    top: -100%;
}

thead {
    position: sticky;
    top: 94px;
    z-index: 20;
}

h4+table {
    margin-top: 28px;
}

h4+table thead {
    top: 113px;
}

tr:active td, tr:hover td {
    background: var(--color-soft);
}

/* th:first-child {
    border-radius: var(--border-radius) 0 0 0;
}

th:last-child {
    border-radius: 0 var(--border-radius) 0 0;
} */

td {
    padding: 11px 8px;
}

th {
    color: var(--color-light);
    font-size: 11px;
    padding: 12px 8px;
    text-align: left;
    text-transform: uppercase;
}

td {
    text-align: left;
    border-bottom: 1px solid var(--color-primary-light);
    font-size: 11px;
}

/* tr:last-child td {
    border-bottom: none;
} */

td input[type="button"] {
    background: var(--color-primary-light);
    box-shadow: var(--box-shadow);
    font-size: 11px;
    padding: 4px 8px;
}

td input[type="button"]:active {
    filter: brightness(.9);
    box-shadow: var(--box-shadow-inset);
}

.total-order { 
    font-weight: 500;
    text-transform: uppercase;
    background: var(--color-secondary);
    color: #fff;
}

.total-order:hover td { 
    background: var(--color-secondary-medium);
}

/* Notification */

.notification {
    padding: 16px;
    margin-bottom: 16px;
    animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}

.notification div {
    display: block;
    opacity: 0;
    animation: fade-in .3s .5s forwards;
}

.notification svg {
    max-width: 100px;
    animation: blink 0.6s 1 both;
}

.notification section {
    padding: 8px 16px 10px;
    margin: 16px;
    background: rgba(0, 0, 0, .4);
    border-radius: var(--border-radius-input);
    color: var(--color-bright);
    opacity: 0;
    animation: swing-in-top-fwd 0.5s .3s cubic-bezier(0.175, 0.885, 0.320, 1.275) both, zoom .6s ease-out 1s forwards;
}

.notification section h3 {
    margin: 8px 0;
    line-height: 1.3;
}

.notification section h3 small {
    font-weight: 400;
    font-size: 14px;
    color: var(--color-primary-light);
}

.notification h2 {
    margin: 6px;
    font-size: 23px;
    animation: blink 0.6s 1 both;
}

.notification.success svg path {
    fill: var(--color-success);
}

.notification.success h2 {
    color: var(--color-success);
}

.notification.error svg path {
    fill: var(--color-secondary);
}

.notification.error h2 {
    color: var(--color-secondary);
}

.notification h4 {
    font-size: 17px;
    margin: 0 0 3px;
}

.notification h5 {
    margin: 0 0 16px;
    font-weight: 400;
    font-size: 14px;
    color: var(--color-primary-light);
}

/* Order */

#order_info {
    font-size: 12px;
    margin-bottom: -12px;
    position: sticky;
    top: 74px;
    background: var(--gradient-secondary);
    width: 100%;
    margin-left: calc(var(--gap) * -1);
    margin-top: -3px;
    text-align: left;
    padding: 4px var(--gap);
    font-weight: 500;
    color: #fff;
    z-index: 100;
    display: flex;
    justify-content: space-between;
}

#order_info>div {
    display: flex;
    justify-content: space-between;
    width: 480px;
    margin: auto;
}

/* back button */

.back-button {
    width: 32px;
    padding: 6px 16px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 30;
}

.back-button:active {
    transform: scale(.9);
}

/* arrow detail */

.arrow {
    display: flex;
    justify-content: flex-end;
}

.arrow>img {
    width: 20px;
    margin: -10px 6px -10px 0px;
    transform: rotate(180deg);
    display: block;
    position: relative;
    opacity: .15;
}

tr:hover td .arrow>img {
    transform: rotate(180deg) translateX(-10px);
    opacity: 0;
    transition: .3s ease-out;
}

tr:hover td .arrow>span {
    animation: blink .8s .3s infinite both;
    transition: .3s ease-out;
}

tr td .arrow>span::after {
    content: "...";
    opacity: 0;
}

tr:hover td .arrow>span::after {
    opacity: 1;
}

/* Profile Page */

.profile-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -16px;
}

.profile-detail div {
    padding: 3px;
    border-radius: var(--border-radius);
    margin: auto;
    background: var(--color-primary);
    box-shadow: var(--box-shadow-high);
    color: #fff;
    margin: 0 0 20px;
    width: 256px;
    animation: swing-in-top-fwd 0.5s .1s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}

.profile-detail .profile-picture {
    width: 100%;
    opacity: 0;
    width: 250px;
    height: 250px;
    object-fit: cover;
    object-position: top center;
    border-radius: 6px 6px 0 0;
    margin-top: 3px;
    background: var(--gradient-secondary);
    animation: fade-in .3s .2s forwards;
}

.profile-detail h6 {
    font-size: 18px;
    margin: 12px 0 8px;
    line-height: 1;
    font-weight: 500;
    color: var(--color-primary);
    text-transform: uppercase;
}

.profile-detail h2 {
    font-size: 20px;
    line-height: 1;
    font-weight: 500;
    margin: 8px 0 8px;
    color: #fff;
}

.profile-detail h5 {
    font-size: 14px;
    margin: 0 0 8px;
    font-weight: 400;
    color: #fff;
}

.profile-detail h6 {
    font-size: 18px;
    margin: 8px 0;
    animation: fade .3s .3s forwards;
}

.profile-detail p {
    font-size: 13px;
    margin: 0 0 3px;
    max-width: 250px;
}

.profile-detail + .haris {
    margin-top: 8px;
}


/* Merchant QR Code */

.qrcode-merchant {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: calc(100vh - 240px); */
}

.qrcode-merchant div {
    /* border: 3px solid var(--color-secondary); */
    padding: 6px;
    border-radius: var(--border-radius);
    margin: auto;
    background: var(--color-primary);
    box-shadow: var(--box-shadow-high);
    color: #fff;
    margin: 0 0 30px;
    width: 256px;
    animation: swing-in-top-fwd 0.5s .1s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}

.qrcode-merchant h2 {
    font-size: 22px;
    margin: -16px 0 16px;
    line-height: 1;
    font-weight: 500;
    color: var(--color-primary);
}

.qrcode-merchant h3 {
    font-size: 18px;
    line-height: 1;
    margin: 6px 0;
}

.qrcode-merchant p {
    font-size: 15px;
    margin: 3px 0;    
    font-weight: 400;
}

.qrcode-merchant p strong {
    color: var(--color-secondary);
}

.qrcode-merchant .qrcode {
    width: 100%;
    /* margin: 16px 8px; */
    max-width: 250px;
    min-width: 100%;
    border-radius: 6px 6px 0 0;
}

.qrcode-merchant .applink {
    width: 100%;
    margin: 16px 8px 0;
    max-width: 144px;
    min-width: 144px;
}

.qrcode-merchant summary {
    font-size: 14px;
    color: var(--color-primary);
}

.qrcode-merchant details .applink+p {
    font-size: 13px;
}

.qrcode-merchant + .haris {
    margin-top: 16px;
}

/* HaRIS */

.haris {
    width: 80px;
    margin: 36px auto 24px;
    color: #fff;
    padding: 10px;
    border-radius: var(--border-radius);
    opacity: 0;
    animation: fade-in .3s .6s ease-out forwards;
}

.haris a {
    text-decoration: none;
    color: var(--color-text);
    pointer-events: none;
}

.haris small {
    display: block;
    font-size: 9px;
    margin: 3px 0;
}

.haris img {
    max-width: 54px;
    border-radius: 4px;
}

.login-form + .haris {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

/* Animation */

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes blink {

    0%,
    50%,
    100% {
        opacity: 1;
    }

    25%,
    75% {
        opacity: 0;
    }
}

@keyframes swing-in-top-fwd {
    0% {
        transform: rotateX(-100deg);
        transform-origin: top;
        opacity: 0;
    }

    100% {
        transform: rotateX(0deg);
        transform-origin: top;
        opacity: 1;
    }
}

@keyframes zoom {
    0% {
        transform: scale(1);
        transform-origin: center;
        background: rgba(0, 0, 0, .4);
    }

    30% {
        transform: scale(.98);
    }

    60% {
        transform: scale(.98);
    }

    100% {
        transform: scale(1.1);
        transform-origin: center;
        background: rgba(0, 0, 0, .5);
        box-shadow: var(--box-shadow-high);
    }
}

/* media queries */

@media screen and (max-height: 600px) {
    .logo {
        max-width: 150px;
    }
}