@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600;700&display=swap');

:root {
    --gap: 16px;
    --font: 'Rubik', sans-serif;
    --color-primary: #2C2976;
    --color-primary-medium: #484599;
    --color-primary-light: #e7e7f9;
    --color-light: #fff;
    --color-secondary: #EC1D27;
    --color-secondary-medium: #ff3c3c;
    --color-secondary-light: #f5e1e2;
    --color-highlight: rgba(255, 255, 255, .3);
    --color-shadow: rgba(0, 0, 0, 0.3);
    --color-danger: #ff4961;
    --color-success: #2dd36f;
    --color-soft: #f9f9f9;
    --color-bright: #ffff46;
    --border-radius: 16px;
    --box-shadow: -1px -1px 2px var(--color-highlight), 1px 1px 2px var(--color-shadow), 0 0 1px var(--color-shadow);
    --box-shadow-inset: inset 1px 1px 2px var(--color-shadow), inset -1px -1px 2px var(--color-highlight), inset 0 0 1px var(--color-shadow);
    --box-shadow-high: 0 3px 8px rgba(0, 0, 120, .2);
    --gradient-light: linear-gradient(120deg, var(--color-secondary-light) 0%, var(--color-primary-light) 100%);
    --gradient-primary: linear-gradient(120deg, var(--color-primary-medium) 0%, var(--color-primary) 100%);
    --gradient-secondary: linear-gradient(120deg, var(--color-secondary-medium) 0%, var(--color-secondary) 100%);
}

body {
    background: var(--color-soft);
    background-attachment: fixed;
    padding: 42px 8px 60px;
    font-family: 'Rubik', sans-serif;
    text-align: center;
}

body * {
    opacity: 0;
    animation: fade-in .3s ease-in forwards;
}

footer,
footer * {
    opacity: 1;
    animation: none;
}

.logo {
    max-width: 180px;
    margin: -16px 0;
    mix-blend-mode: multiply;
}

h1 {
    font-size: 24px;
    margin: 0 0 8px;
}

body>h2 {
    position: fixed;
    margin: 0;
    text-transform: uppercase;
    background: var(--color-primary);
    width: 100vw;
    font-size: 18px;
    left: 0;
    top: 0;
    color: var(--color-light);
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 6px rgba(0, 0, 120, .2);
    z-index: 20;
}

h1+p {
    margin: 0 0 16px;
    font-size: 15px;
}

#alert {
    font-size: 14px;
    color: var(--color-danger);
    font-weight: bold;
}

#alert.hide {
    display: none;
}

.blink {
    animation: blink 0.6s 2 both;
}

.login-form label {
    margin-top: 16px;
    display: block;
    margin-bottom: 6px;
    text-align: center;
}

.login-form input {
    max-width: 240px;
    width: 100%;
}

input, button, .btn, #qr-reader__dashboard_section_swaplink {
    transition: .1s;
    border: none;
    border-radius: 4px;
    font-family: var(--font);
}

button, .btn, #qr-reader__dashboard_section_swaplink {
    padding: var(--gap);
}

input {
    padding: 6px;
    box-shadow: var(--box-shadow-inset);
    background: #fff;
}

textarea:focus, input:focus, select:focus {
    outline: none;
}

input:focus {
    background: #ffffe4;
    box-shadow: var(--box-shadow-inset);
}

input[type="file"] {
    padding: 6px 12px;
    margin-top: 16px;
}

button, .btn, #qr-reader__dashboard_section_swaplink {
    margin: 24px auto;
    font-size: 16px;
    width: 100%;
    max-width: 214px;
    background: var(--gradient-secondary);
    color: var(--color-light);
    text-transform: uppercase;
    font-weight: 600;
    box-shadow: var(--box-shadow);
}

button:active, .btn:active, #qr-reader__dashboard_section_swaplink:active {
    filter: brightness(.9);
    box-shadow: var(--box-shadow-inset);
}

a.btn, #qr-reader__dashboard_section_swaplink {
    display: block;
    color: var(--color-light);
    text-decoration: none;
    width: fit-content;
    min-width: 120px;
    transform: scale(.8);
}

footer {
    position: fixed;
    background: var(--color-soft);
    width: 100vw;
    left: 0;
    bottom: 0;
    z-index: 20;
    display: flex;
    align-items: center;
    padding: 0;
    box-shadow: 0 0 6px rgba(0, 0, 120, .2);
    border-top: 2px solid #fff;
}

footer a.btn {
    margin: 16px auto;
}

footer a {
    display: flex;
    text-decoration: none;
    font-size: 10px;
    color: inherit;
    flex-basis: 33.333%;
    height: 50px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .1s;
    margin: -2px 0 0;
    user-select: none;
    border-top: 2px solid transparent;
}

footer a.active {
    pointer-events: none;
    border-top: 2px solid var(--color-secondary-medium);
}

footer a:active {
    background: var(--color-secondary-light);
    filter: brightness(.96);
}

footer a:focus {
    transition: .4s ease-out;
    border-top: 2px solid var(--color-secondary-medium);
}

footer a span {
    color: var(--color-primary-medium);
}

footer a.active span,
footer a:focus span {
    color: var(--color-secondary-medium);
}

footer a:focus span {
    animation: blink .8s .3s infinite both;
}

footer a svg path {
    fill: var(--color-primary-medium);
}

footer a.active svg path,
footer a:focus svg path {
    fill: var(--color-secondary-medium);
}

footer a:focus svg path {
    fill: var(--color-secondary-medium);
}

footer:focus-within a.active {
    border-top: 2px solid transparent;
    transition: .4s ease-in;
}

footer:focus-within a.active svg path {
    fill: var(--color-primary-medium);
    transition: .4s ease-in;
}

footer:focus-within a.active span {
    color: var(--color-primary-medium);
    transition: .4s ease-in;
}

footer:focus-within a.active {
    background: transparent;
    transition: .4s ease-in;
}

footer a:active svg,
footer a:active span {
    transform: scale(.95);
}

footer svg {
    width: 30px;
}

footer span {
    display: block;
}

/* Profile */

.profile div {
    display: block;
    text-align: left;
    margin: auto;
    width: fit-content;
}

.profile h4 {
    font-size: 17px;
    margin: 0 0 3px;
}

.profile h5 {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    color: var(--color-primary-light);
}

/* Scanner */

#qr-reader {
    margin: var(--gap) auto;
    border-radius: var(--border-radius);
    background: #fff;
    border: 1px solid rgba(0, 0, 0, .1) !important;
    max-width: 386px;
    box-shadow: var(--box-shadow-high);
    background: var(--gradient-light);
}

#qr-reader input[type="file"] {
    margin-bottom: 32px;
}

#qr-reader input[type="file"]+span {
    display: none;
}

#qr-reader>div:first-child {
    padding: 12px 0 10px !important;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    background: var(--gradient-primary);
}

#qr-reader__dashboard_section_swaplink {
    text-decoration: none !important;
    background: rgba(255, 255, 255, .6);
    margin: 0 auto;
    font-size: 14px;
    padding: 8px 16px;
    border: 1px solid var(--color-primary);
    color: var(--color-primary);
    max-width: none;
}

#qr-reader>div:first-child>span:first-child {
    display: none;
}

#qr-reader__status_span {
    display: block;
    color: var(--color-light) !important;
    line-height: 1;
    margin: auto !important;
    padding: 0 !important;
    float: none !important;
    text-align: center;
    background: transparent !important;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
}

#qr-reader__scan_region {
    margin-top: 36px;
}

div#qr-reader__scan_region img {
    mix-blend-mode: multiply;
}

#qr-reader__dashboard {
    padding-bottom: 32px;
}

#qr-reader__dashboard_section {
    padding: 0 !important;
}

#qr-reader__dashboard_section_csr button {
    transform: scale(.8);
}

select#qr-reader__camera_selection {
    display: block;
    margin: 6px auto;
    padding: 8px;
    border: none;
    border-radius: 4px;
    font-family: var(--font);
    box-shadow: var(--box-shadow-inset);
    background: rgba(0, 0, 0, .03);
}

select:focus#qr-reader__camera_selection {
    background: rgba(255, 255, 0, .1);
    box-shadow: var(--box-shadow-inset);
}

#qr-reader__dashboard_section_csr span {
    font-weight: 600;
    font-size: 14px;
}

#qr-reader__filescan_input {
    width: 100% !important;
    max-width: 260px;
}

#result {
    font-size: 14px;
}

form {
    position: relative;
    z-index: 10;
}

/* History */

fieldset {
    display: block;
    margin: 16px auto 0;
    position: relative;
    z-index: 10;
    border-radius: var(--border-radius);
    background-image: var(--gradient-primary);
    color: var(--color-light);
    border: none !important;
    box-shadow: var(--box-shadow-high);
    max-width: 360px;
    padding: 12px;
}

fieldset legend {
    font-size: 13px;
    color: var(--color-light);
    text-align: left;
    background: var(--gradient-secondary);
    box-shadow: var(--box-shadow-high);
    padding: 3px 10px;
    border-radius: 4px;
    margin-bottom: -10px;
}

fieldset div {
    width: 100%;
    display: grid;
    grid-gap: 12px 6px;
    align-items: center;
    grid-template-columns: 100px 1fr;
    margin-top: 8px;
}

fieldset label {
    text-align: left;
    font-weight: 600;
    font-size: 13.5px;
    margin: 0;
}

fieldset input {
    padding: 10px;
}

fieldset button {
    margin: 16px auto 0;
    width: fit-content;
    min-width: 120px;
    transform: scale(.8);
    display: block;
}

.no-data {
    color: var(--color-danger);
    margin: 40px 0;
}

table {
    margin: 24px 0;
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    box-shadow: var(--box-shadow-high);
    border-radius: var(--border-radius);
    background: #fff;
}

table>tbody>tr>td:nth-of-type(1) {
    min-width: 80px;
    padding-right: 0;
}

thead {
    background: var(--gradient-primary);
}

thead:before {
    content: "";
    width: 100%;
    height: 34px;
    background: #fff;
    position: absolute;
    left: 0;
    top: -100%;
}

th:first-child {
    border-radius: var(--border-radius) 0 0 0;
}

th:last-child {
    border-radius: 0 var(--border-radius) 0 0;
}

th, td {
    text-align: left;
    padding: 8px 16px;
}

th {
    color: var(--color-light);
    padding: 12px 16px;
    font-size: 13.5px;
}

td {
    text-align: left;
    border-bottom: 1px solid var(--color-primary-light);
    font-size: 13px;
}

tr:last-child td {
    border-bottom: none;
}

/* Notification */

.notification {
    padding: 16px;
    margin-bottom: 16px;
}

.notification div {
    display: block;
    opacity: 0;
    animation: fade-in .3s .5s forwards;
}

.notification svg {
    max-width: 100px;
    animation: blink 0.6s 1 both;
}

.notification section {
    padding: 8px 8px 10px;
    margin: 16px;
    background: rgba(0, 0, 0, .5);
    border-radius: 6px;
    color: var(--color-bright);
    opacity: 0;
    animation: swing-in-top-fwd 0.5s .3s cubic-bezier(0.175, 0.885, 0.320, 1.275) both, zoom 0.5s 1s forwards;
}

.notification section h3 {
    margin: 8px 0;
    line-height: 1.3;
}

.notification section h3 small {
    font-weight: 400;
    font-size: 14px;
    color: var(--color-primary-light);
}

.notification h2 {
    margin: 6px;
    font-size: 23px;
    animation: blink 0.6s 1 both;
}

.notification.success svg path {
    fill: var(--color-success);
}

.notification.success h2 {
    color: var(--color-success);
}

.notification.error svg path {
    fill: var(--color-danger);
}

.notification.error h2 {
    color: var(--color-danger);
}

.notification h4 {
    font-size: 17px;
    margin: 0 0 3px;
}

.notification h5 {
    margin: 0 0 16px;
    font-weight: 400;
    font-size: 14px;
    color: var(--color-primary-light);
}

/* Animation */

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes blink {

    0%,
    50%,
    100% {
        opacity: 1;
    }

    25%,
    75% {
        opacity: 0;
    }
}

@keyframes swing-in-top-fwd {
    0% {
        transform: rotateX(-100deg);
        transform-origin: top;
        opacity: 0;
    }

    100% {
        transform: rotateX(0deg);
        transform-origin: top;
        opacity: 1;
    }
}

@keyframes zoom {
    0% {
        transform: scale(1);
        transform-origin: center;
    }

    100% {
        transform: scale(1.07);
        transform-origin: center;
        opacity: 1;
        box-shadow: var(--box-shadow-high);
    }
}